<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="loginFailed === true" >
    <app-message-alert [message]="'User dosen\'t exists. PLease enter correct Username/Password.'" [type]="'danger'"></app-message-alert>
  </ng-container>
  <div class="mb-3">
    <label class="form-label"
      [ngClass]="{'text-danger' : loginForm.get('userName').hasError('required') && loginForm.get('userName').touched }"
      for="username">Username* : </label>
    <input
      [ngClass]="{'border border-danger' : loginForm.get('userName').hasError('required') && loginForm.get('userName').touched }"
      class="form-control" formControlName="userName" type="text">
    <div class="mt-2" role="alert"
      *ngIf="loginForm.get('userName').hasError('required') && loginForm.get('userName').touched">
      <label class="text-danger" for="">Username is required</label>
    </div>
  </div>
  <div class="mb-3">
    <label
      [ngClass]="{'text-danger' : loginForm.get('passWord').hasError('required') && loginForm.get('passWord').touched}"
      class="form-label" for="password">Password* :</label>
    <input
      [ngClass]="{'border border-danger' : loginForm.get('passWord').hasError('required') && loginForm.get('passWord').touched}"
      class="form-control" formControlName="passWord" type="password" name="" id="">
    <div class="mt-2" role="alert"
      *ngIf="loginForm.get('passWord').hasError('required') && loginForm.get('passWord').touched">
      <label class="text-danger" for=""> Password is required</label>
    </div>
  </div>
  <div class="d-flex ">
    <div class="form-check me-3">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember
      </label>
    </div>
    <p class="ms-3"><a class="link-opacity-75" [routerLink]="['/auth/forget']">Forgot Password</a></p>
  </div>
  <button class="btn btn-primary">Log In</button>
  <div class="my-3">
    Dont't have account <a class="form-label" [routerLink]="['/auth/signup']"
      routerLinkActive="router-link-active">signup</a>
  </div>
</form>
