<div class="dialog-container">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="customerForm">
        <ng-container *ngIf="addCustomerFailed === true">
          <app-message-alert [message]="errorMessage" [type]="'danger'"></app-message-alert>
        </ng-container>
        <div class="mb-3">
          <label
            [ngClass]="{'text-danger' : customerForm.get('firstname').hasError('required') && customerForm.get('firstname').touched }"
            class="form-label" for="firstname">Firstname* : </label>
          <input
            [ngClass]="{'border border-danger' : customerForm.get('firstname').hasError('required') && customerForm.get('firstname').touched }"
            class="form-control" formControlName="firstname" type="text">
          <div class="mt-2" role="alert"
            *ngIf="customerForm.get('firstname').hasError('required') && customerForm.get('firstname').touched">
            <label class="text-danger" for="firstname">Name is required</label>
          </div>
        </div>
        <div class="mb-3">
          <label
            [ngClass]="{'text-danger' : customerForm.get('lastname').hasError('required') && customerForm.get('lastname').touched }"
            class="form-label" for="name">Lastname* : </label>
          <input
            [ngClass]="{'border border-danger' : customerForm.get('lastname').hasError('required') && customerForm.get('lastname').touched }"
            class="form-control" formControlName="lastname" type="text">
          <div class="mt-2" role="alert"
            *ngIf="customerForm.get('lastname').hasError('required') && customerForm.get('lastname').touched">
            <label class="text-danger" for="">Lastname is required</label>
          </div>
        </div>
        <div class="mb-3">
          <label
            [ngClass]="{'text-danger' : customerForm.get('email').hasError('required') && customerForm.get('email').touched }"
            class="form-label" for="email">Email* :</label>
          <input
            [ngClass]="{'border border-danger' : customerForm.get('email').hasError('required') && customerForm.get('email').touched }"
            class="form-control" formControlName="email" type="email" name="" id="">
          <div class="mt-2" role="alert"
            *ngIf="customerForm.get('email').hasError('required') && customerForm.get('email').touched">
            <label class="text-danger" for="">Email is required</label>
          </div>
        </div>
        <div class="mb-3">
          <label
            [ngClass]="{'text-danger' : customerForm.get('username').hasError('required') && customerForm.get('username').touched }"
            class="form-label" for="password">Username* :</label>
          <input
            [ngClass]="{'border border-danger' : customerForm.get('username').hasError('required') && customerForm.get('username').touched }"
            class="form-control" formControlName="username" type="text" name="" id="">
          <div class="mt-2" role="alert"
            *ngIf="customerForm.get('username').hasError('required') && customerForm.get('username').touched">
            <label class="text-danger" for="">username is required</label>
          </div>
        </div>
        <div class="mb-3">
          <label
            [ngClass]="{'text-danger' : customerForm.get('password').hasError('required') && customerForm.get('password').touched }"
            class="form-label" for="password">Password* :</label>
          <input
            [ngClass]="{'border border-danger' : customerForm.get('password').hasError('required') && customerForm.get('password').touched }"
            class="form-control" formControlName="password" type="password" name="" id="">
          <div class="mt-2" role="alert"
            *ngIf="customerForm.get('password').hasError('required') && customerForm.get('password').touched">
            <label class="text-danger" for="">username is required</label>
          </div>
        </div>
        <button class="btn btn-primary me-3" mat-dialog-close type="submit" (click)="onSubmit()">Add Customer</button>
        <button class="btn btn-primary" mat-dialog-close (click)="cancelCustomer()">Cancel</button>
      </form>

    </div>
  </div>
</div>
