ul{
  list-style-type: none;
  display: flex;
  width: 100%;
}
.move-right{
  margin-left: auto;
}
.navbar{
  background-color: skyblue !important;
  height: 100vh;

}
.side-navbar{
  flex-direction: column;
}
.navbar-nav{
  flex-direction: column;
}
.navbar{
  align-items: flex-start;
}
.navbar>.container-fluid{
  align-items: flex-start;
}
