<div class="container">
  <ng-container *ngIf="userExist === false">
    <form [formGroup]="forgotForm" (ngSubmit)="enterUsername()">
      <div class="mt-3">
        <label  for="Username" class="form-label">Enter Username</label>
        <input formControlName = "username" type="text" class="form-control" id="usernameFormControl" placeholder="Username" name="username" autocomplete="new-email">
      </div>
      <button class="btn btn-primary m-3" type="submit">Sign Up</button>
    </form>
  </ng-container>


  <ng-container *ngIf="userExist === true">
    <form [formGroup]="passowordForm" (ngSubmit)="enterPassword()">
      <div *ngIf="passwordNotMatch === true" class="mb-3 alert alert-danger" role="alert">
        <label for="">User dosen't exists. Please enter correct Username/Password.</label>
      </div>
      <div class="mt-3">
        <label  for="Password" class="form-label">Enter new password</label>
        <input formControlName = "password" type="password" class="form-control" id="newPasswrodFormControl" autocomplete="new-password">
      </div>
      <div class="mt-3">
        <label  for="Password" class="form-label">Confirm password</label>
        <input formControlName = "password" type="password" class="form-control" id="confirmPasswordFormControlo" autocomplete="new-password">
      </div>

      <button class="btn btn-primary m-3" type="submit">Sign Up</button>
    </form>
  </ng-container>

</div>
